html {
    scroll-behavior: smooth;
    font-family: Helvetica, sans-serif, Arial;
}

body {
    margin: 0 auto;
    background-color: black;
}

/* Position logo image to center */
#logo {
    display: block;
    margin-top: 47px;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}